{% extends 'Base.html' %}

{% block title %}
<title>Edit Employee Record</title>
{% endblock title %}

{% block content %}
<style>
    .empinfohead {
        border-radius: 2px;
        border-style: solid;
        border-width: 2px;
        height: auto;
        width: auto;
        margin-top: 30px;
        margin-bottom: 40px;
        text-align: center;
        padding: 5px 5px 5px 5px;
    }
</style>
<h1 class="empinfohead">Edit Employee Information</h1>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-success" style="margin-top: 25px;">
</form>

{% endblock content %}