<!--create a employee-->
{% extends 'Base.html' %}
{% load static %}
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>

{% block title %}
<title>CREATE EMPLOYEE</title>
{% endblock title %}

{% block content %}
<style>
    .empinfohead {
        border-radius: 2px;
        border-style: solid;
        border-width: 2px;
        height: auto;
        width: auto;
        margin-top: 30px;
        margin-bottom: 40px;
        text-align: center;
        padding: 5px 5px 5px 5px;
    }
</style>

    <h1 class="empinfohead">Add New Employee Information</h1>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div id="alertsubmit">
            <input type="submit" class="btn btn-dark" style="margin-top: 25px;"> 
        </div>
         
    </form>
{% comment %}
   <!-- <script>
        document.addEventListener('DOMContentLoaded', function() {
            var messages = JSON.parse('{{ messages|json_script:"messages" }}');
            if(messages.length > 0){
                messages.forEach(function(message) {
                    if(message.level == 'success') {
                        alert(message.message)
                    }
                });
            }
        });
    </script>
-->{% endcomment %}
{% endblock content %}
